@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
:root {
    --color-primary: #FF8400;
}

html, body {
    height: 100%;
    font-family: "Ubuntu", sans-serif;
    background-color: #f3faf8;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}


.text-primary {
    color: var(--color-primary) !important;
}

#css-table{
    border-radius: 10px !important;
    background-color: #ffffff;
}
#erro {
    color: rgba(20, 18, 18, 0.322);
}

img {
    min-width: 30%;
    height: 10%;
}

#card{
    min-height: 475px;
    background-color: #45a585 !important;
}

#titulo-card {
    min-height: 73px;
    color:#f3faf8;
    font-weight: bolder;
    font-size: larger;
    background-color: #3f8d73 !important;
    border-left: 10px solid rgb(98, 56, 109);
    border-left-style: groove;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 6px;
}

#text-card{
    color:#f3faf8;
    font-weight: bolder;
    font-size: larger;

}